<div class="container">

    <div class="row ">
        <div class=" col-lg-12">
                   <div class="posts">
                       <article>
                           <h1 class="new-head-title new-second-font-title">
                               Rules
                           </h1>
                           <p class="new-head-description new-second-font-description">

                               Choose a concept, theory, experiment or phenomenon that you are excited about.
                               Create a 5 to 7 minute video showing the idea in an interesting, creative and exciting way.
                           </p>
                       </article>
                  </div>
        </div>
    </div>


    <div class="row ">

            <div class=" col-sm-6">
                <legend>Submit Your Video</legend>
                <form id='new-post'>
                    <div class="form-group">
                        <input class="title-link" type="text" placeholder= "Video Title" name="title" /></br>
                        <input  class="youtube-link" type="text" placeholder= "Youtube Link" name="youtubeToken" /></br>
                        <input  class="title-link" type="text" placeholder= "School Name" name="schoolName" />
                    </div>
                    <button  class="btn btn-primary btn-responsive  button-create" type='submit'>Save</button>
                </form>
            </div>

    </div>

    <!-- <div class="row ">
        <div class="col-lg-6 new-feature-card-container new-second">
                <h1 class="new-head-title new-second-font-title">
                    Pick a Topic
                </h1>
                <p class="new-head-description new-second-font-description">
                    Choose a concept, theory, experiment or phenomenon that you are excited about. The more challenging, the more fun.
                    It can range anywhere from global warming to why the night sky is dark.
                </p>
        </div>
        <div class="col-md-6 new-feature-card-container new-second">
                <h1 class="new-head-title new-second-font-title">
                    Create the Video
                </h1>
                <p class="new-head-description new-second-font-description">
                    Create a 5 to 7 minute video showing the idea in an interesting, creative and exciting way. Feel free to use physical props like
                    lab equipment, your pets, or a car. You can also use animations and simulations in your video. Once you are done, submit the YouTube link
                    along with other info in the form below.
                </p>
        </div>
    </div>

    <div class="row ">
        <div class=" col-sm-6">
            <legend>Submit Your Video</legend>
            <form id='new-post'>
                <div class="form-group">
                    <input class="title-link" type="text" placeholder= "Video Title" name="title" /></br>
                    <input  class="youtube-link" type="text" placeholder= "Youtube Link" name="youtubeToken" /></br>
                    <input  class="title-link" type="text" placeholder= "School Name" name="schoolName" />
                </div>
                <button  class="btn btn-primary btn-responsive  button-create" type='submit'>Save</button>
            </form>
        </div>
    </div>

</div> -->

<!-- <div class="row">
    <div>
        <legend>Share a Video</legend>
        <form  id='new-post'>
            <input type="text" placeholder= "Enter a title for your video" name="title" />
            <input type="text" placeholder= "Paste the Youtube Link" name="youtubeToken" />
            <button type='submit'>Save</button>
        </form>
        </br>
        <ul class="list-group" id="posts">
          {{#each posts}}
            <li class='list-group-item'>
                <a href= '/posts/{{this._id}}'>{{this.body}}</a>
                <div class="videoWrapperOuter">
                    <div class="videoWrapperInner">
                      <iframe frameborder="0" width="560" height="315" src="https://www.youtube.com/embed/{{this.youtubeToken}}" allowfullscreen="true"></iframe>
                    </div>
                </div>
                <div class="remove-post" data-id="{{this._id}}">Remove</div>
                <a href= '/posts/{{this._id}}/edit'>Edit</a>
            </li>
          {{/each}}
        </ul>
    </div>
</div> -->
